EXPO_PUBLIC_API_URL=https://farmsking.in/api/v1
EXPO_ROUTER_DISABLE_RN_NAVIGATION_CHECK=1
EXPO_PUBLIC_WEBVIEW_MODE=true
EXPO_PUBLIC_LIVE_SITE_URL=https://farmsking.in
EXPO_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id_here
